body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

h2 {
    text-align: center;
    color: #4caf50;
}

table {
     width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

thead {
    background: #e9f5ec;
    color: #4caf50;
}

th{
     text-align: center;
    padding: 12px;
    color: #2e7d32;
    font-size: 15px;
    border-bottom: 2px solid #e0e0e0;
    background: #f9fdf9; 
}

td {
   padding: 12px;
    border-bottom: 1px solid #eee;
    text-align: center;
    color: #444;
}

tr:hover {
      background: #f9fff9;
    transition: background 0.2s;
}

.acoes a {
    margin: 0 5px;
    text-decoration: none;
    font-size: 18px;
}

.edit { color: #4caf50; }
.view { color: #2196f3; }
.delete { color: #f44336; }